.page-header {
  margin-bottom: em-calc(50);
}

.site-title {
  margin: 0 0 em-calc(40);

  a {
    display: block;
    margin-bottom: 0;
    font-family: $heading-font;
    font-size: 48px;
    font-weight: normal;
    line-height: 1.15;
    color: $dark;
    text-transform: uppercase;
  }

  .tagline {
    display: inline-block;
    border-top: 5px solid $dark;
    padding: em-calc(10) 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.main-menu {

  .menu {
    padding: em-calc(8) 0;
  }

  a {
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      @include transform(scaleY(0.5));
      @include opacity(0);
      @include transition(all 0.3s ease);
    }
    &:hover, &:focus {
      &:before {
        @include transform(scaleY(1));
        @include opacity(1);
      }
    }
  }

  li {
    position: relative;
    display: inline-block;
    padding-right: em-calc(32);

    &:after {
      content: "";
      position: absolute;
      right: 12px;
      top: 50%;
      width: 6px;
      height: 6px;
      margin-top: -2px;
      background-color: $grey;
    }
    &:last-child:after {
      display: none;
    }
  }
}

// admin bar
.admin-bar {
  margin: em-calc(-20) 0 em-calc(50);
  text-align: center;

  a {
    vertical-align: middle;
    margin: 0 2px 4px;
    padding: em-calc(4) em-calc(16);

    &:before {
      @extend .icon;
      display: inline-block;
      margin: 0 6px 0 -6px;
      vertical-align: top;
      font-size: 20px;
      color: $dark;
    }

    &:focus:before, &:hover:before {
      color: #fff;
    }
  }

  .edit:before {
    content: $icon-edit;
  }
  .new:before {
    content: $icon-plus;
  }
  .delete:before {
    content: $icon-delete;
  }
}

// sidebar
.sidebar {
  // monochrome leaf
  .leaf {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: $purple;
    @include border-radius(60% 0 60% 0);
  }
  // two-tone leaf
  .leaf2 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    @include border-radius(60% 0 60% 0);
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 40px solid $purple;
      border-top-color: lighten($purple, 30%);
      border-left-color: lighten($purple, 30%);
    }
  }
}

// footer
.page-footer {
  margin-top: em-calc(60);
}
.socials {
  text-align: center;

  li {
    display: inline-block;
    padding: 0 em-calc(4);
  }

  a {
    position: relative;
    display: block;
    padding: 8px;
    font-size: 0;
    line-height: 0;

    &:before, &:after, span:before, span:after {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      @include transition(all 0.3s ease);
    }

    &:before, &:after {
      @include transform(rotateY(0));
    }

    &:before, span:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      @include border-radius(50% 0 50% 0);
    }

    &:after, span:after {
      @extend .icon;
      position: relative;
      display: block;
      font-size: 36px;
      line-height: 1;
      color: $dark;
    }

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;

      &:before, &:after {
        @include transform(rotateY(180deg));
        backface-visibility: hidden;
      }
      &:before {
        background-color: $purple;
      }
      &:after {
        color: $white;
      }
    }

    &:hover, &:focus {
      &:before, &:after {
        @include transform(rotateY(180deg));
      }
      span:before, span:after {
        @include transform(rotateY(0));
      }
    }
  }
  .github:after, .github span:after { content: $icon-github; }
  .codepen:after, .codepen span:after {
    content: $icon-codepen;
    top: -1px;
    left: 1px;
  }
  .instagram:after, .instagram span:after {
    content: $icon-instagram;
    left: 1px;
  }
  .twitter:after, .twitter span:after { content: $icon-twitter; }
}

// forms
.input-group {
  margin: 0 0 em-calc(30);
  @include clearfix;

  &.error {
    input, textarea {
      border-color: $purple;
    }
  }
}

label {
  display: block;
  margin: 0 0 em-calc(10);
  font-weight: bold;
}

input[type=text], input[type=email], input[type=search], input[type=tel], input[type=url], input[type=number], input[type=password], textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: em-calc(10) em-calc(14);
  border: 3px solid $grey;
  @include transition(border 0.3s ease);
  &:focus {
    outline: none;
    border-color: $yellow;
  }
}

.button, button[type=submit] {
  position: relative;
  display: inline-block;
  padding: em-calc(12, 18) em-calc(40, 18) em-calc(8, 18);
  margin: 6px;
  border: 0;
  outline: none;
  background: $purple;
  color: $white;
  font-size: 18px;
  font-family: $heading-font;
  text-transform: uppercase;

  &:hover, &:focus {
    color: $white;
    background-color: darken($purple, 30%);
  }
}

.error-msg {
  display: block;
  margin-top: 6px;
  color: $purple;
  font-size: 0.95em;
  font-style: italic;
}

// list of projects
$bp-projects-medium: 1080;
.projects {
  margin: 0 -4px;
  font-size: 0;

  .excerpt {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 em-calc(4);
    margin-bottom: em-calc(10);
    vertical-align: top;
    font-size: 16px;

    @include bp($bp-projects-medium) {
      width: 50%;
    }
  }

  .project-meta {
    margin: 0;
  }
}

.hover-group {
  position: relative;
  height: 190px;
  margin-bottom: em-calc(4);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $purple;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($purple, 0.5);
    @include transition(background 0.3s ease);
  }

  @include bp($bp-projects-medium) {
    padding-bottom: 56.25%;
    height: 0;
  }

  &:hover {
    &:after {
      background-color: rgba($purple, 0.9);
    }

    h3 {
      @include transform(translate(0, -100%));
    }
    p {
      @include opacity(1);
      @include transform(translate(0, 0));
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: -200%;
    z-index: 2;
    overflow: hidden;
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 12px;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    z-index: 1;
    @include transform(translate(0, -50%));
    @include transition(all 0.3s ease);
  }

  p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: em-calc(10, 24) em-calc(36, 24) 0;
    color: $white;
    font-size: 18px;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    z-index: 1;
    @include opacity(0);
    @include transform(translate(0, 120%));
    @include transition(all 0.3s ease);
  }
}

.featured {
  .excerpt {
    margin-bottom: em-calc(30);
  }

  .hover-group {
    padding-bottom: 56.25%;
    height: 0;
  }

  h3 {
    @include bp($bp-typography) {
      font-size: 42px;
    }
  }

  p {
    @include bp($bp-typography) {
      font-size: 20px;
      line-height: 1.6;
    }
  }
}

// projects
.project-meta {
  margin: 0 0 em-calc(20);
  color: darken($grey, 30%);
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
    padding: 0 6px;
    font-size: 16px;
    background-color: lighten($yellow, 50%);
    color: $grey;
    @include border-radius(3px);
  }
}

.project-url {
  display: inline-block;
  float: right;
  padding: 4px 8px;
  margin-left: 10px;
  background-color: $purple;
  color: $white;
  font-size: 14px;
  @include border-radius(3px);
  &:after {
    @extend .icon;
    content: $icon-external;
    padding-left: em-calc(5);
  }
  &:hover, &:focus {
    color: $white;
    background-color: darken($purple, 30%);
    &:after { color: $white; }
  }
}

.project-type {
  margin: em-calc(6) 0 em-calc(30);
  font-style: italic;
  color: $grey;
}

// pagination
.pagination {
  margin-top: em-calc(-20);
  text-align: center;

  li {
    display: inline-block;
    margin: 0 em-calc(2);
    vertical-align: middle;
  }

  a {
    display: block;
    padding: em-calc(2) em-calc(8);
    border: 1px solid darken($light-grey, 10%);
    background-color: $light-grey;
    color: $dark;
    @include border-radius(5px);
    @include transition(all 0.3s ease);

    &:hover, &:focus {
      background-color: $purple;
      border-color: $purple;
      color: #fff;
      &:before {
        color: #fff;
      }
    }
  }

  span {
    display: block;
    padding: em-calc(6);
    font-weight: bold;
  }

  .next, .prev {
    font-size: 0;
    line-height: 0;
    padding: 2px 0;
    &:before {
      @extend .icon;
      font-size: 25px;
      line-height: 25px;
      color: $dark;
    }
  }

  .prev:before {
    content: $icon-left;
  }
  .next:before {
    content: $icon-right;
  }
}

// flash messages
.alerts {
  margin: 0 0 em-calc(30);

  li {
    display: block;
    padding: em-calc(10) em-calc(20);
    background-color: lighten($yellow, 20%);
    border: 1px solid $yellow;
    color: $grey;
    font-weight: bold;
    text-align: center;
    @include border-radius(6px);
  }
}
