{% extends "base.html" %}

{% block content %}
  <h1>from wit import page_title<br>page_title.generate()</h1>
  <p>I'm a mostly front-end developer currently based in Seattle, WA. While I mostly work with Javascript, CSS/SASS, and HTML, I also enjoy Python, I can muck about with PHP, and in the past I've flirted with Java and Ruby. After working for <a href="https://www.monkee-boy.com/">Monkee-Boy Web Design</a> (check out the footer banana) in Austin, TX, I decided to take a year off to travel some of the world and pick up some more languages spoken by humans instead of computers.</p>
  <p>Now that <a href="http://thelongtrip.org/">that particular trip</a> is over, I'm back to coding full-time and attempting to make up for a full year of sparse github contributions. This portfolio is a selection of client and personal work I've done over the past few years. Oh, and it's also <a href="https://github.com/smhigley/portfolio">on github</a></p>

  <div class="featured">
    {% for project in projects %}
      {% include '_excerpt.html' %}
      {% if loop.index == 1 %}
  </div>
  <div class="projects">
      {% endif %}
    {% endfor %}
  </div>

  <p class="center"><a href="{{ url_for('portfolio') }}" class="button">View all projects</a></p>


{% endblock %}

{% block adminbar %}
  {% include '_adminbar.html' %}
{% endblock %}