{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>

  {{ projects }}

  {% for project in projects.items %}
    {% include '_excerpt.html' %}
  {% endfor %}

  {% if projects.has_prev or projects.has_next %}
  <ul class="pagination menu">
    {% if projects.has_prev %}
      <li><a href="{{ url_for('log', page=projects.prev_num) }}" class="prev">Previous page</a></li>
    {% endif %}
    {%- for page in projects.iter_pages() %}
      {% if page %}
        {% if page != projects.page %}
          <li><a href="{{ url_for('log', page=page) }}">{{ page }}</a></li>
        {% else %}
          <li><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    {% if projects.has_next %}
      <li><a href="{{ url_for('log', page=projects.next_num) }}" class="next">Next page</a></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %}

{% block adminbar %}
  {% include '_adminbar.html' %}
{% endblock %}
